.titulo {
    text-align: center;
    color: #0b6b8a;
}

.descripcion {
    margin-top: 12px;
    text-align: center;
}

#carouselTunco .carousel-item img {
    height: 400px;
    object-fit: cover;
}

.padre {
    display: flex;
    gap: 40px;
}

.columna {
    flex: 1;
}

.columna h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #0b6b8a;
}

.columna p {
    line-height: 1.7;
    margin-bottom: 15px;
}